:root {
    --container-width: 1200px;

    --color-text: #212529;
    --color-1: #0391D2;
}

html, body {
    color: var(--color-text);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

.container {
    margin: 0 auto;
    max-width: var(--container-width);
    padding: 0 15px;
}

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { border-radius: 10px; background: rgba(0, 0, 0, 0.1); }
::-webkit-scrollbar-thumb { border-radius: 10px; background: rgba(0, 0, 0, 0.2); }
::-webkit-scrollbar-thumb:hover { background: rgba(0, 0, 0, 0.4); }
::-webkit-scrollbar-thumb:active { background: rgba(0, 0, 0, 0.9); }

[x-cloak] { display: none !important; }

textarea { font-family: monospace; }

/*=============================================
=            layout            =
=============================================*/
.heroe {
    margin: 0 auto;
    padding: 3rem 1rem;
    background-color: rgba(247, 248, 249, 1);
}

.heroe h1 {
    margin: 0;
}

main {
    padding: 2rem 0;
}

/*=============================================
=            header            =
=============================================*/
.main-header {
    --menu-divider: 1px solid #6eb2db;
    --submenu-divider: 1px solid #6eb2db;
    --submenu-indent: 30px;
    --submenu-background: transparent;
    --menu-background: var(--color-1);
    --menu-link-color: #fff;
    --menu-link-hover-color: #fff;
    --menu-link-padding: 10px 15px;

    background: #fff;
}

.main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-header .logo { padding: 8px 0; }

.main-header .menu-toggler {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: var(--color-1);
    color: #fff;
    display: flex;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.main-menu { width: 100%; display: none; }

.main-header.open .main-menu { display: block; }

.main-menu a {
    color: var(--menu-link-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: var(--menu-link-padding);
}

.main-menu a:hover {
    color: var(--menu-link-hover-color);
}

.main-menu ul {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 8px;
    background: var(--menu-background);
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-menu li { position: relative; }

.main-menu > ul > li + li { border-top: var(--menu-divider); }

.main-menu > ul > li > ul {
    box-shadow: none;
    border-top: var(--menu-divider);
    border-radius: 0;
    display: none;
    background-color: var(--submenu-background);
}

.main-menu > ul > li.open > ul { display: block; }

.main-menu > ul > li > ul > li { padding-left: var(--submenu-indent); }

.main-menu > ul > li > ul > li + li { border-top: var(--submenu-divider); }

@media screen and (min-width: 768px) {

    .main-header {
        --menu-divider: none;
        --submenu-divider: 1px solid #ebeff2;
        --submenu-indent: 0;
        --submenu-background: #fff;
        --menu-background: transparent;
        --menu-link-color: var(--color-text);
        --menu-link-hover-color: var(--color-1);

        background: #fff;
    }

    .main-header .menu-toggler { display: none }

    .main-menu { display: flex; width: auto; }

    .main-menu ul { display: flex; align-items: center; box-shadow: none; }

    .main-menu > ul > li > ul {
        position: absolute;
        top: 100%;
        min-width: 200px;
        border-radius: 4px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .main-menu > ul > li:hover > ul { display: block; }
}

/*=============================================
=            Form            =
=============================================*/
:not(.flex) > .form-group + .form-group { margin-top: 1rem; }

.help-text { font-size: 14px; color: #777; }
.help-text p { margin-bottom: .25rem }
.error-message { display: block; font-size: 14px; color: rgb(241, 58, 58) }

.form-input-icon {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 0.75rem;
}

.form-input-icon.is-prefix {
    left: 0px;
    right: auto;
    padding-left: 0.75rem;
}

/*=============================================
=            Components            =
=============================================*/
/*---------- Code block ---------- */
my-code-block { overflow: auto }

/*---------- Card ---------- */
.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 1rem;
    border-radius: 0.25rem;
}

/*---------- Tooltip ---------- */
/* Tooltip container */
[data-tooltip] {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
[data-tooltip]:after {
	display: block;
	content: attr(data-tooltip);
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 4px 8px;
	border-radius: 6px;
	font-size: 12px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

/* Show the tooltip text when you mouse over the tooltip container */
[data-tooltip]:hover:after {
	visibility: visible;
}

/*---------- Radio button ---------- */
.radio label { padding: 6px 16px; font-size: 14px; border-radius: 50px; display: inline-flex; cursor: pointer; transition: background 0.2s ease; -webkit-tap-highlight-color: transparent; }
.radio label:hover,
.radio label:focus-within,
.radio label:has(:checked) { background: rgba(159, 159, 159, 0.1); }
.radio label input { vertical-align: middle; width: 20px; height: 20px; border-radius: 10px; background: none; border: 0; box-shadow: inset 0 0 0 1.5px #9F9F9F; appearance: none; padding: 0; margin: 0; transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25); pointer-events: none; }
.radio label input:focus { outline: none; }
.radio label input:checked { box-shadow: inset 0 0 0 6px #6743ee; }
.radio label span { vertical-align: middle; display: inline-block; line-height: 20px; padding: 0 8px; }

/*---------- Date picker ---------- */

.flatpickr-calendar .flatpickr-months { border-bottom: 1px solid #efefef; margin-bottom: 10px; }
.flatpickr-calendar .flatpickr-months .flatpickr-month { height: 44px; }
.flatpickr-calendar .flatpickr-current-month { font-size: 1rem; }
.flatpickr-calendar .flatpickr-day.today { border-color: transparent; background: #f3f4f6; color: inherit; }
.flatpickr-calendar .flatpickr-day.today:hover,
.flatpickr-calendar .flatpickr-day.today:focus { color: inherit; }
.flatpickr-calendar span.flatpickr-weekday { color: #3b82f6; font-size: 1rem; }
.flatpickr-calendar span.flatpickr-weekday:nth-child(7n) { color: #ea580c; }
.flatpickr-calendar .flatpickr-day:nth-child(7n) { color: #ea580c; }
.flatpickr-calendar .flatpickr-day.prevMonthDay:nth-child(7n),
.flatpickr-calendar .flatpickr-day.nextMonthDay:nth-child(7n) { color: #fed7aa; }
.flatpickr-input-wrapper { position: relative }
.flatpickr-wrapper { display: block; }
.flatpickr-wrapper .form-input-icon {
    position: absolute;
    top: 18px;
    right: 0px;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-right: 0.75rem;
}

/*---------- Modal Dialog ---------- */
::backdrop { background-color: rgba(17,24,39,.2); }
.modal { padding: 0; border: 0; box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; border-radius: 8px; width: 500px; }
.modal.is-sm { width: 300px }
.modal.is-lg { width: 800px }
.modal.is-xl { width: 1140px }
.modal-body { padding: 20px; position: relative; }
.modal-close { padding: 0; background: transparent; color: #777; font-size: 24px; position: absolute; right: 2px; top: 2px; line-height: 1; }

/*---------- Confirm Dialog ---------- */
.confirm-dialog {
    display: inline-block;
    padding: 0;
    border: 0;
    width: 100%;
    overflow: hidden;
    border-radius: .5rem;
    background-color: rgb(255 255 255);
    text-align: left;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s
}

@media (min-width: 640px) {
    .confirm-dialog {
        width: 100%;
        max-width: 32rem;
        vertical-align: middle
    }
}

.confirm-dialog::backdrop {
    background-color: #0000004d
}

.confirm-dialog-body {
    padding: 1.25rem 1rem 1rem
}

@media (min-width: 640px) {
    .confirm-dialog-body {
        display: flex;
        align-items: flex-start;
        padding: 1.5rem 1.5rem 1rem
    }
}

.confirm-dialog-icon {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgb(254 243 199)
}

.confirm-dialog-icon svg {
    height: 2rem;
    width: 2rem;
    color: rgb(245 158 11)
}

.confirm-dialog-content {
    margin-top: .75rem;
    flex-grow: 1
}

.confirm-dialog-content>:not([hidden])~:not([hidden]) {
    margin-top: .5rem;
    margin-bottom: 0;
}

.confirm-dialog-content {
    text-align: center
}

@media (min-width: 640px) {
    .confirm-dialog-content {
        margin-top: 0;
        margin-left: 1rem;
        text-align: left
    }
}

.confirm-dialog-title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: rgb(17 24 39)
}

.confirm-dialog-footer>:not([hidden])~:not([hidden]) {
    margin-right: 0;
    margin-left: .5rem;
}

.confirm-dialog-footer {
    background-color: rgb(249 250 251);
    padding: .75rem 1rem
}

@media (min-width: 640px) {
    .confirm-dialog-footer {
        display: flex;
        justify-content: center;
        padding-left: 1.5rem;
        padding-right: 1.5rem
    }
}

.confirm-dialog-button--true {
    border-color: rgb(245 158 11);
    background-color: rgb(245 158 11);
    color: rgb(255 255 255)
}

.confirm-dialog-button--true:hover {
    background-color: rgb(217 119 6)
}

.confirm-dialog-button--true:focus {
    border-color: rgb(217 119 6);
}

.confirm-dialog.is-danger .confirm-dialog-icon {
    background-color: rgb(254 226 226)
}

.confirm-dialog.is-danger .confirm-dialog-icon svg {
    color: rgb(239 68 68)
}

.confirm-dialog.is-danger .confirm-dialog-button--true {
    border-color: rgb(239 68 68);
    background-color: rgb(239 68 68);
    color: rgb(255 255 255)
}

.confirm-dialog.is-danger .confirm-dialog-button--true:hover {
    background-color: rgb(220 38 38)
}

.confirm-dialog.is-danger .confirm-dialog-button--true:focus {
    border-color: rgb(220 38 38);
}

/*---------- Color picker ---------- */
.color-trigger {
    background-color: var(--color);
    height: 24px;
    width: 24px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
.alwan__swatches {
    padding: 8px;
    gap: 4px;
}
.alwan__swatch {
    margin: 0;
}
.color-picker-wrapper > input {
    width: 9rem;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    border-width: 1px;
    padding: .25rem .25rem .25rem 2.5rem;
    height: 38px;
}
/*=============================================
=            Page PX - REM         =
=============================================*/
.table-conversion {
    column-count: 3;
    column-gap: 0;
}

.table-conversion .table-conversion__item {
    padding: 2px 4px;
}

.table-conversion .table-conversion__item:nth-child( odd ) {
    background: #FFF9FD;
}

/*=============================================
=            Thu chi            =
=============================================*/
.expense-nav {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.expense-nav__item {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.expense-nav__item:hover,
.expense-nav__item.active {
    background-color: #2ea44f;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.1s;
}

/*---------- Account list ---------- */

.account-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 6px 16px;
    border-radius: 4px;
    display: flex;
    width: 100%;
}

.account-item + .account-item {
    margin-top: 8px;
}

.account-item__view {
    display: flex;
    align-items: center;
    width: 100%;
}

.account-item__badge {
    --color: #94a3b8;
    width: 40px;
    height: 40px;
    background: var(--color);
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.account-item__amount {
    margin-left: auto;
    text-align: right;
}

.account-item__opening-balance {
    font-weight: bold;
    color: #4b5563;
}

.account-item__remain-balance {
    font-weight: bold;
    color: #059669;
}

.account-item__title h4 {
    --color: var(--color-text);
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color);
}

.account-item__actions a {
    font-size: 14px;
    color: #0284c7;
}

.account-item__actions a + a:before {
    display: inline-block;
    content: "|";
    margin-right: 6px;
}

/*---------- Category list ---------- */
.category-item {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 6px 16px;
    border-radius: 4px;
    display: flex;
    width: 100%;
}

.category-item .default-text {
    font-size: 12px;
    font-weight: bold;
    color: #ec4899;
}

.category-item + .category-item {
    margin-top: 8px;
}

.category-item__view {
    display: flex;
    align-items: center;
    width: 100%;
}

.category-item__title h4 {
    --color: var(--color-text);
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color);
}

.category-item__actions a {
    font-size: 14px;
    color: #0284c7;
}

.category-item__actions a + a:before {
    display: inline-block;
    content: "|";
    margin-right: 6px;
}

.category-item__thu,
.category-item__chi {
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
}

.category-item__thu { color: #059669; }
.category-item__chi { color: #ea580c; margin-left: auto; }

/*---------- Transaction list ---------- */
.button-expand {
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-expand i { font-size: 24px; }

.transaction-item {
    --color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 6px 16px;
    border-radius: 4px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-left: 6px solid var(--color);
}

.transaction-item .default-text {
    font-size: 12px;
    font-weight: bold;
    color: #ec4899;
}

.transaction-item + .transaction-item {
    margin-top: 8px;
}

.transaction-item__right {
    text-align: right;
}

.transaction-item__title {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    color: #64748b;
}

.transaction-item__date {
    font-weight: 500;
    margin-bottom: .5rem;
    color: #334155;
}

.transaction-item__date.is-sunday {
    color: #ef4444;
}

.transaction-item__amount {
    font-weight: 500;
}

.transaction-item__account {
    margin-bottom: 8px;
}

.transaction-item__account span {
    --color: #94a3b8;
    font-size: 14px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 2px;
    margin-top: 4px;
    justify-content: end;
}

.transaction-item__account i {
    font-size: 18px;
}

.transaction-item__category {
    margin-bottom: 8px;
}

.transaction-item__category span {
    --color: #94a3b8;
    font-size: 14px;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 2px;
}

.transaction-item__category i {
    font-size: 18px;
}

.transaction-item__actions a {
    font-size: 14px;
    color: #4b5563;
}

.transaction-item__actions a:hover {
    color: #0ea5e9;
}

.transaction-item__actions a + a:before {
    display: inline-block;
    content: "|";
    margin-right: 6px;
}